{% include "partial/header.html" %}
{% include "partial/search.html" %}
{% include "partial/sync_reload.html" %}

<div class="flex grid-cols-2 py-5">
    <!-- Sidebar -->
    <aside class="w-64 bg-gray-900 border-r border-gray-800 p-4 flex-shrink-0">
        <span id="item-tags"
              class="flex flex-col gap-2 mt-2  justify-center justify-items-center justify-self-center"></span>
    </aside>

    <div id="item-content" class="hidden space-y-6">
        {% include "partial/loading.html" %}

        <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Left: Details -->
            <div class="space-y-3 w-full">
                <div><span id="item-name" class="font-bold text-2xl"></span></div>
                <div><strong class="text-purple-400">Model name:</strong> <span id="item-model"></span></div>
                <div><strong class="text-purple-400">Path:</strong><br><span id="item-path"
                                                                             class="break-all"></span>
                </div>
                <div>
                    <h2 class="text-xl font-bold mb-2 text-purple-400">Info</h2>
                    <pre id="item-info"
                         class="bg-gray-900 p-4 rounded text-sm overflow-x-auto whitespace-pre-wrap border border-gray-800"></pre>
                </div>
            </div>

            <!-- Right: Image -->
            <div>
                <img id="item-preview" src="" alt="Preview" class="w-full rounded shadow border border-gray-700">
            </div>

        </div>
    </div>

</div>
</div>

<script>
    async function refreshContent() {
        document.addEventListener("DOMContentLoaded", async () => {
            const res = await fetch(getApiUrl());
            const json = await res.json();

            const item = json.items?.[0];
            if (!item) return;

            document.getElementById("item-name").textContent = item.name || "<Unknow>";
            document.getElementById("item-model").textContent = item.model_name || "";
            document.getElementById("item-path").textContent = item.path || "";
            document.getElementById("item-preview").src = item.preview || "";
            const tagContainer = document.getElementById("item-tags");
            tagContainer.innerHTML = "";
            (item.tags || []).forEach(tag => {
                const a = document.createElement("a");
                a.href = `/tag/${encodeURIComponent(tag)}`;
                a.textContent = tag;
                a.className = " text-emerald-100 px-2 py-0.9 rounded text-sm hover:text-emerald-200 transition  justify-center justify-items-center justify-self-center";
                tagContainer.appendChild(a);
            });
            document.getElementById("item-info").textContent = formatJson(item.info);

            document.getElementById("item-content").classList.remove("hidden");
        });

        function formatJson(infoStr) {
            try {
                return JSON.stringify(JSON.parse(infoStr), null, 2);
            } catch (e) {
                return infoStr;
            }
        }
    }

    refreshContent();
</script>

</body>
</html>